extends layout.pug
block head
  title ？
  mate(cherset="UTF-8")
  //- link(rel="stylesheet" href="/styles/login.css")
  title #{article.title}
block body  
  .page-header
    h1 #{article.title}
  
  div #{article.body}