doctype html
html
  head
    mate(cherset="UTF-8")
    title ログイン
  body
    h1 ログイン
    form(action="/login" method="post")
      p
        input(type="email" name="email")
      p
        input(type="password" name="password")
      p
        input(type="submit" value="ログイン")
      p