doctype html
html
  head
    mate(cherset="UTF-8")
    title ユーザー登録
  body
    h1 ユーザー登録
    form(action="signup" method="post")
      p
        input(type="email" name="email")
      p
        input(type="password" name="password")
      p
        input(type="submit" value="登録")
      p